In [2]:
import pandas as pd

In [3]:
df = pd.read_json('../data/Exchange_1.json')
df

,TimeStamp,TimeStampEpoch,Direction,OrderID,MessageType,Symbol,OrderPrice,Exchange
0,2024-01-05 09:28:00.011058962,2024-01-05 09:28:00.011058962,NBFToExchange,ff9ed182-95a6-11ed-a209-047c16291a22,NewOrderRequest,PRQ83,61.56,Exchange_1
1,2024-01-05 09:28:00.011081372,2024-01-05 09:28:00.011081372,NBFToExchange,ff9ed183-95a6-11ed-b424-047c16291a22,NewOrderRequest,Z9XG4,69.37,Exchange_1
2,2024-01-05 09:28:00.011117286,2024-01-05 09:28:00.011117286,ExchangeToNBF,ff9ed182-95a6-11ed-a209-047c16291a22,NewOrderAcknowledged,PRQ83,61.56,Exchange_1
3,2024-01-05 09:28:00.011125452,2024-01-05 09:28:00.011125452,NBFToExchange,ff9ed184-95a6-11ed-bee9-047c16291a22,CancelRequest,PRQ83,NaN,Exchange_1
4,2024-01-05 09:28:00.011129285,2024-01-05 09:28:00.011129285,NBFToExchange,ff9ed185-95a6-11ed-aa6d-047c16291a22,NewOrderRequest,MZGZV,73.20,Exchange_1
...,...,...,...,...,...,...,...,...
209675,2024-01-05 09:31:59.995169747,2024-01-05 09:31:59.995169747,NBFToExchange,ffce9460-95a6-11ed-a761-047c16291a22,NewOrderRequest,EAUEO,45.67,Exchange_1
209676,2024-01-05 09:31:59.995210138,2024-01-05 09:31:59.995210138,NBFToExchange,ffce944a-95a6-11ed-9568-047c16291a22,CancelRequest,EAUEO,NaN,Exchange_1
209677,2024-01-05 09:31:59.995219075,2024-01-05 09:31:59.995219075,ExchangeToNBF,ffce9460-95a6-11ed-a761-047c16291a22,NewOrderAcknowledged,EAUEO,45.67,Exchange_1
209678,2024-01-05 09:31:59.995257550,2024-01-05 09:31:59.995257550,ExchangeToNBF,ffce944a-95a6-11ed-9568-047c16291a22,CancelAcknowledged,EAUEO,NaN,Exchange_1
209679,2024-01-05 09:31:59.995262401,2024-01-05 09:31:59.995262401,ExchangeToNBF,ffce944a-95a6-11ed-9568-047c16291a22,Cancelled,EAUEO,NaN,Exchange_1

In [5]:
df['MessageType'].value_counts()

NewOrderRequest         41951
NewOrderAcknowledged    41951
Cancelled               41934
CancelRequest           41913
CancelAcknowledged      41913
Trade                      18
Name: MessageType, dtype: int64

In [26]:
df.loc[df['Symbol'] == 'PRQ83']

,TimeStamp,TimeStampEpoch,Direction,OrderID,MessageType,Symbol,OrderPrice,Exchange
0,2024-01-05 09:28:00.011058962,2024-01-05 09:28:00.011058962,NBFToExchange,ff9ed182-95a6-11ed-a209-047c16291a22,NewOrderRequest,PRQ83,61.56,Exchange_1
2,2024-01-05 09:28:00.011117286,2024-01-05 09:28:00.011117286,ExchangeToNBF,ff9ed182-95a6-11ed-a209-047c16291a22,NewOrderAcknowledged,PRQ83,61.56,Exchange_1
3,2024-01-05 09:28:00.011125452,2024-01-05 09:28:00.011125452,NBFToExchange,ff9ed184-95a6-11ed-bee9-047c16291a22,CancelRequest,PRQ83,NaN,Exchange_1
8,2024-01-05 09:28:00.011180495,2024-01-05 09:28:00.011180495,ExchangeToNBF,ff9ed184-95a6-11ed-bee9-047c16291a22,CancelAcknowledged,PRQ83,NaN,Exchange_1
10,2024-01-05 09:28:00.011185162,2024-01-05 09:28:00.011185162,ExchangeToNBF,ff9ed184-95a6-11ed-bee9-047c16291a22,Cancelled,PRQ83,NaN,Exchange_1
...,...,...,...,...,...,...,...,...
209424,2024-01-05 09:31:59.810566827,2024-01-05 09:31:59.810566827,NBFToExchange,ffce942b-95a6-11ed-b9a9-047c16291a22,CancelRequest,PRQ83,NaN,Exchange_1
209425,2024-01-05 09:31:59.810584826,2024-01-05 09:31:59.810584826,NBFToExchange,ffce942f-95a6-11ed-9e6f-047c16291a22,NewOrderRequest,PRQ83,62.90,Exchange_1
209426,2024-01-05 09:31:59.810616471,2024-01-05 09:31:59.810616471,ExchangeToNBF,ffce942b-95a6-11ed-b9a9-047c16291a22,CancelAcknowledged,PRQ83,NaN,Exchange_1
209427,2024-01-05 09:31:59.810620950,2024-01-05 09:31:59.810620950,ExchangeToNBF,ffce942b-95a6-11ed-b9a9-047c16291a22,Cancelled,PRQ83,NaN,Exchange_1
209428,2024-01-05 09:31:59.810633694,2024-01-05 09:31:59.810633694,ExchangeToNBF,ffce942f-95a6-11ed-9e6f-047c16291a22,NewOrderAcknowledged,PRQ83,62.90,Exchange_1

In [27]:
df.groupby('Symbol')['OrderID'].nunique()

Symbol
02A1O     443
07NHZ    1393
0GOME      39
0T3NY       1
1SCON      41
         ...
Z8ULK      85
Z9JOE     166
Z9XG4     952
ZHBMH     299
ZKQQD     404
Name: OrderID, Length: 132, dtype: int64

In [6]:
df['Direction'].value_counts()

ExchangeToNBF    125816
NBFToExchange     83864
Name: Direction, dtype: int64

In [7]:
df.shape

(209680, 8)

In [20]:
order_id = df['OrderID'].value_counts().sort_values(ascending=False)
order_id

ffaf99c2-95a6-11ed-a779-047c16291a22    9
ffac6703-95a6-11ed-8abe-047c16291a22    7
ffaf99cd-95a6-11ed-ae4e-047c16291a22    6
ffad9f04-95a6-11ed-954e-047c16291a22    6
ffab0708-95a6-11ed-a4a0-047c16291a22    6
                                       ..
ffad77a4-95a6-11ed-8b2a-047c16291a22    2
ffad77a5-95a6-11ed-ada1-047c16291a22    2
ffca4efe-95a6-11ed-8a51-047c16291a22    2
ffca4eff-95a6-11ed-94ad-047c16291a22    2
ffce9460-95a6-11ed-a761-047c16291a22    2
Name: OrderID, Length: 42241, dtype: int64

In [23]:
order_id[order_id == 3]

ff9ed186-95a6-11ed-8820-047c16291a22    3
ffa2c9dd-95a6-11ed-b915-047c16291a22    3
ffabc9e4-95a6-11ed-9e20-047c16291a22    3
ffa2c9d8-95a6-11ed-9ee0-047c16291a22    3
ff9ed1ac-95a6-11ed-afa4-047c16291a22    3
                                       ..
ffa33ec5-95a6-11ed-a728-047c16291a22    3
ff9ed21f-95a6-11ed-823c-047c16291a22    3
ff9ed21e-95a6-11ed-ae56-047c16291a22    3
ff9ed221-95a6-11ed-9707-047c16291a22    3
ff9ed222-95a6-11ed-a2e0-047c16291a22    3
Name: OrderID, Length: 317, dtype: int64

In [25]:
order_id[order_id == 3].value_counts()

3    317
Name: OrderID, dtype: int64

In [10]:
df.loc[df['OrderID'] == 'ffaf99c2-95a6-11ed-a779-047c16291a22'] # 9

,TimeStamp,TimeStampEpoch,Direction,OrderID,MessageType,Symbol,OrderPrice,Exchange
74531,2024-01-05 09:30:13.222644379,2024-01-05 09:30:13.222644379,NBFToExchange,ffaf99c2-95a6-11ed-a779-047c16291a22,NewOrderRequest,8TJ2B,61.45,Exchange_1
74534,2024-01-05 09:30:13.223092006,2024-01-05 09:30:13.223092006,ExchangeToNBF,ffaf99c2-95a6-11ed-a779-047c16291a22,NewOrderAcknowledged,8TJ2B,61.45,Exchange_1
74780,2024-01-05 09:30:14.706381502,2024-01-05 09:30:14.706381502,ExchangeToNBF,ffaf99c2-95a6-11ed-a779-047c16291a22,Trade,8TJ2B,61.45,Exchange_1
74781,2024-01-05 09:30:14.706399068,2024-01-05 09:30:14.706399068,ExchangeToNBF,ffaf99c2-95a6-11ed-a779-047c16291a22,Trade,8TJ2B,61.45,Exchange_1
74782,2024-01-05 09:30:14.706532675,2024-01-05 09:30:14.706532675,ExchangeToNBF,ffaf99c2-95a6-11ed-a779-047c16291a22,Trade,8TJ2B,61.45,Exchange_1
74783,2024-01-05 09:30:14.706716850,2024-01-05 09:30:14.706716850,ExchangeToNBF,ffaf99c2-95a6-11ed-a779-047c16291a22,Trade,8TJ2B,61.45,Exchange_1
75167,2024-01-05 09:30:14.801770920,2024-01-05 09:30:14.801770920,NBFToExchange,ffaf99c2-95a6-11ed-a779-047c16291a22,CancelRequest,8TJ2B,NaN,Exchange_1
75170,2024-01-05 09:30:14.801825812,2024-01-05 09:30:14.801825812,ExchangeToNBF,ffaf99c2-95a6-11ed-a779-047c16291a22,CancelAcknowledged,8TJ2B,NaN,Exchange_1
75171,2024-01-05 09:30:14.801833526,2024-01-05 09:30:14.801833526,ExchangeToNBF,ffaf99c2-95a6-11ed-a779-047c16291a22,Cancelled,8TJ2B,NaN,Exchange_1

In [11]:
df.loc[df['OrderID'] == 'ffac6703-95a6-11ed-8abe-047c16291a22'] # 7

,TimeStamp,TimeStampEpoch,Direction,OrderID,MessageType,Symbol,OrderPrice,Exchange
55651,2024-01-05 09:30:00.709851633,2024-01-05 09:30:00.709851633,NBFToExchange,ffac6703-95a6-11ed-8abe-047c16291a22,NewOrderRequest,GM73P,65.67,Exchange_1
55840,2024-01-05 09:30:00.718017541,2024-01-05 09:30:00.718017541,ExchangeToNBF,ffac6703-95a6-11ed-8abe-047c16291a22,NewOrderAcknowledged,GM73P,65.67,Exchange_1
55863,2024-01-05 09:30:00.735832506,2024-01-05 09:30:00.735832506,ExchangeToNBF,ffac6703-95a6-11ed-8abe-047c16291a22,Trade,GM73P,65.67,Exchange_1
55864,2024-01-05 09:30:00.736766613,2024-01-05 09:30:00.736766613,ExchangeToNBF,ffac6703-95a6-11ed-8abe-047c16291a22,Trade,GM73P,65.67,Exchange_1
56223,2024-01-05 09:30:00.905403924,2024-01-05 09:30:00.905403924,NBFToExchange,ffac6703-95a6-11ed-8abe-047c16291a22,CancelRequest,GM73P,NaN,Exchange_1
56226,2024-01-05 09:30:00.905465113,2024-01-05 09:30:00.905465113,ExchangeToNBF,ffac6703-95a6-11ed-8abe-047c16291a22,CancelAcknowledged,GM73P,NaN,Exchange_1
56227,2024-01-05 09:30:00.905467672,2024-01-05 09:30:00.905467672,ExchangeToNBF,ffac6703-95a6-11ed-8abe-047c16291a22,Cancelled,GM73P,NaN,Exchange_1

In [12]:
df.loc[df['OrderID'] == 'ffa2066e-95a6-11ed-a4d6-047c16291a22'] # 5

,TimeStamp,TimeStampEpoch,Direction,OrderID,MessageType,Symbol,OrderPrice,Exchange
2793,2024-01-05 09:28:02.414675067,2024-01-05 09:28:02.414675067,NBFToExchange,ffa2066e-95a6-11ed-a4d6-047c16291a22,NewOrderRequest,ACGZM,246.79,Exchange_1
2801,2024-01-05 09:28:02.414739207,2024-01-05 09:28:02.414739207,ExchangeToNBF,ffa2066e-95a6-11ed-a4d6-047c16291a22,NewOrderAcknowledged,ACGZM,246.79,Exchange_1
2876,2024-01-05 09:28:02.514539547,2024-01-05 09:28:02.514539547,NBFToExchange,ffa2066e-95a6-11ed-a4d6-047c16291a22,CancelRequest,ACGZM,NaN,Exchange_1
2878,2024-01-05 09:28:02.514592035,2024-01-05 09:28:02.514592035,ExchangeToNBF,ffa2066e-95a6-11ed-a4d6-047c16291a22,CancelAcknowledged,ACGZM,NaN,Exchange_1
2879,2024-01-05 09:28:02.514597108,2024-01-05 09:28:02.514597108,ExchangeToNBF,ffa2066e-95a6-11ed-a4d6-047c16291a22,Cancelled,ACGZM,NaN,Exchange_1

In [22]:
df.loc[df['OrderID'] == 'ffafc0af-95a6-11ed-8b3a-047c16291a22'] # 4

,TimeStamp,TimeStampEpoch,Direction,OrderID,MessageType,Symbol,OrderPrice,Exchange
75211,2024-01-05 09:30:14.804577193,2024-01-05 09:30:14.804577193,NBFToExchange,ffafc0af-95a6-11ed-8b3a-047c16291a22,NewOrderRequest,07NHZ,100.11,Exchange_1
75221,2024-01-05 09:30:14.804657789,2024-01-05 09:30:14.804657789,ExchangeToNBF,ffafc0af-95a6-11ed-8b3a-047c16291a22,NewOrderAcknowledged,07NHZ,100.11,Exchange_1
75223,2024-01-05 09:30:14.804842525,2024-01-05 09:30:14.804842525,ExchangeToNBF,ffafc0af-95a6-11ed-8b3a-047c16291a22,Trade,07NHZ,100.11,Exchange_1
75234,2024-01-05 09:30:14.805116413,2024-01-05 09:30:14.805116413,ExchangeToNBF,ffafc0af-95a6-11ed-8b3a-047c16291a22,Trade,07NHZ,100.11,Exchange_1

In [24]:
df.loc[df['OrderID'] == 'ff9ed186-95a6-11ed-8820-047c16291a22'] # 3

,TimeStamp,TimeStampEpoch,Direction,OrderID,MessageType,Symbol,OrderPrice,Exchange
5,2024-01-05 09:28:00.011146525,2024-01-05 09:28:00.011146525,NBFToExchange,ff9ed186-95a6-11ed-8820-047c16291a22,CancelRequest,Z9XG4,NaN,Exchange_1
11,2024-01-05 09:28:00.011210770,2024-01-05 09:28:00.011210770,ExchangeToNBF,ff9ed186-95a6-11ed-8820-047c16291a22,CancelAcknowledged,Z9XG4,NaN,Exchange_1
12,2024-01-05 09:28:00.011214759,2024-01-05 09:28:00.011214759,ExchangeToNBF,ff9ed186-95a6-11ed-8820-047c16291a22,Cancelled,Z9XG4,NaN,Exchange_1

In [13]:
df.loc[df['OrderID'] == 'ffca27ea-95a6-11ed-8b41-047c16291a22'] # 2

,TimeStamp,TimeStampEpoch,Direction,OrderID,MessageType,Symbol,OrderPrice,Exchange
184440,2024-01-05 09:31:38.470460625,2024-01-05 09:31:38.470460625,NBFToExchange,ffca27ea-95a6-11ed-8b41-047c16291a22,NewOrderRequest,775GN,1.92,Exchange_1
184443,2024-01-05 09:31:38.470514774,2024-01-05 09:31:38.470514774,ExchangeToNBF,ffca27ea-95a6-11ed-8b41-047c16291a22,NewOrderAcknowledged,775GN,1.92,Exchange_1

In [28]:
df.loc[df['OrderID'] == 'ffa2c9f7-95a6-11ed-aa18-047c16291a22']

,TimeStamp,TimeStampEpoch,Direction,OrderID,MessageType,Symbol,OrderPrice,Exchange
7460,2024-01-05 09:28:09.816721190,2024-01-05 09:28:09.816721190,NBFToExchange,ffa2c9f7-95a6-11ed-aa18-047c16291a22,NewOrderRequest,RSHU1,36.47,Exchange_1
7463,2024-01-05 09:28:09.816781110,2024-01-05 09:28:09.816781110,ExchangeToNBF,ffa2c9f7-95a6-11ed-aa18-047c16291a22,NewOrderAcknowledged,RSHU1,36.47,Exchange_1
7525,2024-01-05 09:28:09.914391226,2024-01-05 09:28:09.914391226,NBFToExchange,ffa2c9f7-95a6-11ed-aa18-047c16291a22,CancelRequest,RSHU1,NaN,Exchange_1
7527,2024-01-05 09:28:09.914442536,2024-01-05 09:28:09.914442536,ExchangeToNBF,ffa2c9f7-95a6-11ed-aa18-047c16291a22,CancelAcknowledged,RSHU1,NaN,Exchange_1
7529,2024-01-05 09:28:09.914448032,2024-01-05 09:28:09.914448032,ExchangeToNBF,ffa2c9f7-95a6-11ed-aa18-047c16291a22,Cancelled,RSHU1,NaN,Exchange_1